.categories {
  width: auto;
  height: calc(100vh - 34px);
  /* display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column; */
  padding: 85px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
  /* background: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
  background: #faf9f6;
}

.categories span {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  color: #333;
  font-weight: bold;
  backdrop-filter: blur(20px);
  border-radius: 0.5rem;
  padding-left: 50px;
  padding-top: 10px;
  background: #fff;
}

/* .categories span:nth-child(5) p,
.categories span:nth-child(8) p,
.categories span:nth-child(9) p {
  font-size: 22px;
} */

.categories span:nth-child(5) p::after,
.categories span:nth-child(8) p::after,
.categories span:nth-child(9) p::after {
  bottom: 30px;
}
.categories span:hover {
  cursor: pointer;
  box-shadow: 1px 41px 60px 5px rgba(182, 180, 180, 0.25);
  text-transform: uppercase;
  transform: translateY(-10px);
  transition: all 0.12s ease-in;
}

span a {
  text-decoration: none;
  color: #333;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

span a p::after {
  content: "Dish";
  position: absolute;
  bottom: 50px;
  opacity: 50%;
  left: 165px;
  font-size: 11px;
}

/* span a:hover {
  color: #4070f4;
} */

span a p {
  margin-left: 55px;
  font-size: 30px;
}

.food-items {
  height: 100px;
  width: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(233, 218, 218);
  left: 40px;
  position: relative;
}

.food-items img {
  height: inherit;
  width: inherit;
  object-fit: contain;
}

@media screen and (max-width: 1189px) {
  .categories span a p {
    /* font-size: 20px; */
    font-size: clamp(1px, 3vw, 20px);
  }

  .food-items {
    height: 70px;
    width: 70px;
  }

  span a p::after {
    left: 125px;
  }
}

@media screen and (max-width: 1033px) {
  .categories {
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
  }
  span a p::after {
    bottom: 20px;
  }
}

@media screen and (max-width: 630px) {
  .categories {
    display: flex;
    padding: 0;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    height: auto;
    grid-gap: 1px;
  }
  .categories span {
    min-height: 150px;
    max-width: 150px;
  }
}

@media screen and (max-width: 545px) {
  .categories span {
    height: 50px;
  }
}

@media screen and (max-width: 400px) {
  .categories span {
    height: 35px;
  }
  .categories span p {
    font-size: 9px;
  }

  .categories span a p::after {
    content: "Dish";
    font-size: 8px;
    left: 85px;
  }

  .food-items {
    height: 30px;
    width: 30px;
  }
}


.footer-cont{
  background-color: #4070f4;
  width: 100%;
  padding: 19px 0;
  text-align: center;
}

.footer-cont h3{
  margin: 0;
  color: #fff;
  font-family: monospace;
  font-size: 18px;
}